<div class="pv4">
  <div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mb2 kode-mono-subtitulo subtitulo-principal">{{.intro.heading}}</h2>
    <p class="mb4 mw6 bungee-hairline-textos">{{.intro.text}}</p>
    <p class="mb4 mw6 bungee-hairline-textos">{{.intro.text2}}</p>

    <div class="flex-ns mhn2-ns mb3">
      {{ range .products }}
      <div class="ph2-ns w-50-ns">
        <img src="{{.image}}" alt="" class="center db mb3" style="width: 240px">
        <p class="kode-mono-subtitulo">{{.text}}</p>
      </div>
      {{ end }}
    </div>

    <div class="tc">
      <a href="/products" class="btn raise btn-base kode-mono-btn">CONOCER MÁS...</a>
    </div>
  </div>
</div>
