<footer class="bg-black ph3 pv4 white fondo-footer">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4 roboto-mono texto-footer">

			<img src="/img/logos/Logo-a02-completo.png" alt="Agencia 02 logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">{{ .Site.Data.footer.title }}</p>
			<p>{{ .Site.Data.footer.blurb }}</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary kode-mono-generica">Agencia 02</h3>
				<ul class="mb3">
					<li><a href="/" class="link kode-mono-generica">Home</a></li>
					<li><a href="/values" class="link kode-mono-generica">Portafolio</a></li>
					<li><a href="/products" class="link kode-mono-generica">Servicios</a></li>
					<li><a href="/contact" class="link kode-mono-generica">Contacto</a></li>
				</ul>
				<br></br>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary kode-mono-generica">Bogotá D.C | Colombia</h3>
				<br></br>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary kode-mono-generica">Redes Sociales</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.linkedin.com/in/agencia02" "svg" "icons-facebook" "alt" "Kaldi on Facebook") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

