<div class="fondo-gris-oscuro pv4">
	<div class="ph3 mw6 center {{.classalign}} ff">

		<div class="flex-l mhn2-l">
			<h2 class="f2 b lh-title mb2 kode-mono-subtitulo subtitulo-principal">{{.heading}}</h2></div>
		<div class="flex-l mhn2-l">
			<p class="bungee-hairline-textos">{{.text}}</p>
		</div>
		<div class="flex-l mhn2-l">
			<p class="bungee-hairline-textos">{{.text2}}</p>
		</div>
		<div class="tc">
			<a href="{{.buttonLink}}" class="btn raise btn-base kode-mono-btn">{{.buttonText}}</a>
		</div>

	</div>
</div>
