/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, textarea {
	font-size: var(--spacing-medium);
	border: none;
	font-family: inherit;
	border: 0;
	margin: 0;
}

button {
	font-family: inherit;
	border: 0;
	margin: 0;
	cursor: pointer;
}

a {
	color: inherit;
}


/* ESTILOS PROPIOS */
.no-mostrar {
	display: none;
}
body {
	background-color: black !important;
	color: white !important;
}
.fondo-gris-oscuro {
	background: #292929;
}
/* ESTILIZAR SCROLL BAR */
::-webkit-scrollbar {
    width: 5px; /* Ancho del scrollbar */
} 
/* Estilos para el scrollbar del thumb (la barra deslizante) */
::-webkit-scrollbar-thumb {
	background-color: #888; /* Color del thumb */	
	/*border-radius: 5px;  Borde redondeado */
}
/* Estilos para el scrollbar del track (la barra de fondo) */
::-webkit-scrollbar-track {
	background-color: #f2f2f2; /* Color del track */
}

/* FUENTES */
.rubik {
	font-family: 'Rubik 80s Fade', system-ui;
	font-weight: 400 !important;
	font-style: normal !important;
	font-size: 100px !important;
}
.rubik-opt {
	font-family: 'Rubik 80s Fade', system-ui;
	font-weight: 400 !important;
	font-style: normal !important;
	font-size: 80px !important;
	color: white;
}

.bungee-hairline {
	font-family: 'Bungee Hairline', sans-serif;
	font-weight: 700 !important;
	font-style: normal;
	font-size: 1.5rem !important;
}
.bungee-hairline-opt {
	font-family: 'Bungee Hairline', sans-serif;
	font-style: normal;
}
.bungee-hairline-textos {
	font-family: 'Bungee Hairline', sans-serif;
	font-style: normal;
	font-weight: 500 !important;
	font-size: x-large;
}

.kode-mono-titulo {
	font-family: "Kode Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 400 !important;
	font-style: normal;
	font-size: 4rem !important;
	color: white;
}
.kode-mono-subtitulo {
	font-family: "Kode Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 500 !important;
	font-style: normal;
	font-size: 1.5rem !important;
	color: white;
}
.kode-mono-btn {
	font-family: "Kode Mono", monospace;
	font-optical-sizing: auto;
}
.kode-mono-generica {
	font-family: "Kode Mono", monospace;
	font-optical-sizing: auto;
}
.syne-mono-regular {
	font-family: "Syne Mono", monospace;
	font-weight: 400;
	font-style: normal;
}

.roboto-mono {
	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.overall {
	//background-color: black;
	//background-color: rgba(0, 0, 0, 0.7);
}

.overall div{
	margin-bottom: 0px !important;
}

.btn-base {
	color: black !important;
}

.portada-agencia {
	height: 90vh; 
	padding-left: 5vw !important; 
	padding-top: 60vh !important;
}
.portada-seccion {
	height: 0px !important;
    padding: 0px !important;
}

.subtitulo-principal {
	font-size: 2rem !important;
}
.fondo-footer {
	background: #212121 !important;
}
.texto-footer {
	font-weight: 200 !important;
	text-align: justify;
}

.redes-sociales {
	max-width: 30px;
}
.texto-derecha {
	text-align: right;
}
.texto-justificado {
	text-align: justify;
}
.tag-estado {
	font-size: small;
	display: block;
	padding: 2px 0 !important;
	margin: 10px !important;
}
.pruebas {
	background: #308446;
}
.produccion {
	background: #5564eb;
}
.contenedor-link-portafolio {
	text-align: center;
	color: white;
	margin-top: 20px;
}

.etiqueta-imagen {
	display: block;
	position: relative;
}
.etiqueta-imagen:hover .imagen-portafolio {
	transform: scale(1.1); /* Zoom */
	border: 2px solid white; /* Borde blanco */
}
.imagen-portafolio {
	transition: transform 0.3s ease; /* Transición suave del zoom */
}

.contenedor-vertical {
	display: flex;
	flex-direction: column;
}
.contenedor-vertical span{
	display: flex;
}
.icon-ok {
	max-width: 30px;
    max-height: 30px;
    margin-right: 20px;
}

.contenedor-item-portafolio {
	margin: 100px 0 !important;
}

@media screen and (max-width: 768px) {
	.rubik {
		font-size: 60px !important;
	}
	.rubik-opt {
		font-size: 60px !important;
	}
	.bungee-hairline {
		font-size: 1rem !important;
	}
	.kode-mono-titulo {
		font-size: 2.2rem !important;
	}
	.bungee-hairline-textos {
		font-size: large;
	}
}