{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

<div class="mw7 center ph3 pt4">

  <div class="mw7 center">
    <div class="mw6 ph3 mb3">
      <h3 class="f3 b lh-title mb2 kode-mono-titulo">Portafolio</h3>
      <p></p>
    </div>
  </div>
  {{ range $index, $element := .Params.values }}
    {{ if modBool $index 2 }}
      {{ partial "media-block" $element }}
    {{ else }}
      {{ partial "media-block-reverse" $element }}
    {{ end }}
  {{ end }}

</div>

{{ end }}
